<div class="dark:bg-[#242526] p-6  w-full rounded-xl shadow border dark:border-[#3a3b3c] border-[#e4e6eb] justify-center mt-5 mb-5">

  <!-- Header -->
  <div class="flex items-center mb-4">
    <img [src]="'http://localhost:9090' + post.user.profileImage"
         (error)="onImageError($event)"
         class="rounded-full w-12 h-12 mr-3 border dark:border-[#3a3b3c] border-[#e4e6eb]"  alt=""/>
    <div>
      <h3 class="font-bold text-sm dark:text-[#e4e6eb]">{{ post.user.name || 'Unknown User' }}</h3>
      <time class="text-xs text-[#b0b3b8]">{{ post.createdAt | timeago }}</time>
      <button *ngIf="post.user.id === user?.id" (click)="deletePost(post.id)"
              class="text-xs text-blue-500 hover:underline ml-2">Delete</button>
    </div>
  </div>

  <!-- Content -->
  <p class="text-base mb-3 dark:text-[#e4e6eb]">{{ post.content }}</p>
<ng-container *ngIf="post.mediaUrl">
  <img *ngIf="isImage(post.mediaUrl)"
       [src]="'http://localhost:9090/' + post.mediaUrl"
       width="100%"
       height="100%"
       class="rounded-lg mb-4 border dark:border-[#3a3b3c] border-[#e4e6eb] max-h-[500px] " alt=""/>
  <video *ngIf="isVideo(post.mediaUrl)"
         [src]="'http://localhost:9090/' + post.mediaUrl"
         controls
         class="w-full rounded-lg aspect-video object-contain bg-black border border-[#e4e6eb] dark:border-[#3a3b3c] mb-4">
    Your browser does not support the video tag.
  </video>
</ng-container>
  <!-- Likes + Comments Summary -->
  <div class="text-xs dark:text-[#b0b3b8] mb-2 flex justify-between">
    <div class="flex items-center gap-1">
    <span>{{ post.likeCount }}</span>
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           class="w-4 h-4">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z"/>
      </svg>
    </div>
    <div class="flex items-center gap-1">
    <span>{{ post.commentCount }}</span>
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           class="w-4 h-4">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z"/>
      </svg>
    </div>
  </div>

  <!-- Buttons -->
  <div class="flex border-t border-b dark:border-[#3a3b3c] border-[#e4e6eb] py-2 text-sm dark:text-[#b0b3b8] text-black">
    <!-- Like Button -->
    <button (click)="onToggleLike(post)"
            [ngClass]="post.likedByCurrentUser ? 'text-blue-600 dark:text-blue-400' : 'text-black dark:text-[#b0b3b8]'"
            class="flex items-center justify-center w-1/2 gap-1 py-1 text-sm font-medium hover:text-blue-700 dark:hover:text-blue-400 transition">
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           class="w-4 h-4">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z"/>
      </svg>
      <span>Like</span>
    </button>

    <!-- Comment Button -->
    <button class="flex items-center justify-center w-1/2 gap-1 py-1 text-sm font-medium text-black dark:text-[#b0b3b8] hover:text-blue-700 dark:hover:text-blue-400 transition">
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           class="w-4 h-4">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z"/>
      </svg>
      <span>Comment</span>
    </button>
  </div>


  <!-- COMMENTS ( display only 2 comments by default) -->
  <div *ngFor="let comment of (showAllComments[post.id] ? post.comments : post.comments?.slice(0, 2))"
       class="mt-4 space-y-3 dark:text-[#e4e6eb] text-black">

    <!-- COMMENT -->
    <div class="flex items-start">
      <img [src]="comment.user.profileImage ? 'http://localhost:9090' + comment.user.profileImage : 'assets/images/unknown.png'"
           (error)="onImageError($event)"
           class="w-8 h-8 rounded-full mr-2 border dark:border-[#3a3b3c] border-[#b0b3b8]" alt="profile image" />

      <div class="dark:bg-[#3a3b3c] p-2 rounded-2xl max-w-sm bg-[#e4e6eb] w-full">
        <div class="flex justify-between ">
        <p class="font-semibold text-xs dark:text-white">{{ comment.user.name }}</p>
        <button *ngIf="comment.user.id === user?.id" (click)="deleteComment(comment.id)"
                class="text-xs text-blue-500 hover:underline ml-2">Delete</button>
        </div>
        <p class="text-sm dark:text-white ml-1">{{ comment.content }}</p>
        <div class="flex items-center justify-between mt-1">
          <time class="text-xs text-[#b0b3b8]">{{ comment.createdAt | timeago }}</time>
          <div class="flex gap-3 text-xs ">
            <button
              (click)="likeComment(comment)"
              [ngClass]="comment.likedByCurrentUser ? 'text-blue-600 dark:text-blue-400' : 'black hover:text-blue-600 dark:hover:text-blue-400'"
              class="hover:text-blue-600 dark:hover:text-blue-400">Like</button>
            <button (click)="comment.replying = !comment.replying" class="hover:text-blue-600 dark:hover:text-blue-400">Reply</button>
          </div>
        </div>

        <!-- REPLY INPUT -->
        <div *ngIf="comment.replying" class="mt-2 flex items-center gap-2">
          <input [(ngModel)]="replyTexts[comment.id]"
                 placeholder="Write a reply..."
                 class="flex-1 text-sm px-2 py-1 rounded-full border border-gray-300 dark:border-[#3a3b3c] dark:bg-[#242526] dark:text-white" />
          <button (click)="addReply(comment.id)"
                  class="text-xs bg-blue-600 text-white px-3 py-1 rounded-2xl">Submit</button>
        </div>
      </div>
    </div>

    <!-- REPLIES (Show more replies and display first 2) -->
    <div *ngFor="let reply of comment.replies || []; let i = index">
      <ng-container *ngIf="shouldShowReply(comment.id, i)">
        <div class="pl-8 overflow-hidden">
          <div class="flex items-start">
            <img [src]="reply.user.profileImage ? 'http://localhost:9090' + reply.user.profileImage : 'assets/images/unknown.png'"
                 (error)="onImageError($event)"
                 alt="profile image"
                 class="w-7 h-7 rounded-full mr-2 border dark:border-[#3a3b3c] border-[#b0b3b8]" />

            <div class="dark:bg-[#3a3b3c] p-2 rounded-2xl max-w-sm bg-[#e4e6eb] w-full">
              <p class="font-semibold text-xs dark:text-white">{{ reply.user.name }}</p>
              <p class="text-sm dark:text-white">{{ reply.content }}</p>
              <div class="flex items-center justify-between mt-1">
              <time class="text-xs text-[#b0b3b8] mt-1">{{ reply.createdAt | timeago }}</time>
              <div class="flex gap-3 text-xs ">
                <button
                  [style.color]="comment.likedByCurrentUser ? '#0084ff' : 'black hover:text-blue-600 dark:hover:text-blue-400'"
                  class="hover:text-blue-600 dark:hover:text-blue-400">Like</button>
                <button class="hover:text-blue-600 dark:hover:text-blue-400">Reply</button>
              </div>
            </div>
              </div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Show more replies -->
    <div *ngIf="(comment.replies?.length || 0) > 2 && !expandedReplies[comment.id]" class="pl-8 mt-1">
      <button (click)="toggleReplies(comment.id)"
              class="text-xs text-blue-500 hover:underline">
        Show more replies
      </button>
    </div>

  </div>

  <!-- Show more comments -->
  <div *ngIf="post.comments.length > 2 && !showAllComments[post.id]" class="mt-2">
    <button (click)="toggleComments(post.id)"
            class="text-xs text-blue-500 hover:underline">
      show more comments
    </button>
  </div>


  <!-- Comment Input -->
  <div class="mt-4 flex items-center border border-gray-300 dark:border-[#3a3b3c] rounded-full px-3 py-1 dark:bg-[#242526]">
    <img [src]="'http://localhost:9090'+ comment.user.profileImage"
         (error)="onImageError($event)"
         alt="profile"
         class="w-8 h-8 rounded-full mr-2 border dark:border-[#3a3b3c] border-[#b0b3b8]" />
    <input type="text"
           [(ngModel)]="comment.content"
           name="comment"
           class="flex-1 text-sm focus:outline-none dark:dark:bg-[#242526] dark:text-white dark:placeholder:text-[#b0b3b8]"
           placeholder="Write a comment..." />
    <button (click)="addComment()" class="text-xs bg-blue-600 text-white px-3 py-1 rounded-2xl">Submit</button>
  </div>
</div>

