<div class="flex flex-col w-full">
  <!-- Cover -->
  <div class="relative w-full h-80">
    <img
      [src]="'http://localhost:9090' + profile.profileCoverImage"
      alt="cover"
      class="w-full h-full object-cover"
      (error)="onCoverError($event)"
    />
    <div class="absolute -bottom-16 left-10">
      <img
        [src]="'http://localhost:9090' + profile.profileImage"
        alt="profile"
        (error)="onProfileError($event)"
        class="w-32 h-32 rounded-full border-4 border-white shadow"
      />
    </div>
  </div>

  <!-- Tabs and header -->
  <div class="mt-20 px-10 flex flex-col lg:flex-row justify-between items-start lg:items-end border-b pb-4">
    <div>
      <h2 class="text-2xl font-bold dark:text-white">{{ profile.name }}</h2>
      <p class="text-gray-600 dark:text-gray-400">{{ profile.about }}</p>
      <p class="text-sm text-gray-500 mt-1">Number of friends:   {{NO_friends()}}</p>
    </div>

    <div class="flex gap-4 mt-4 lg:mt-0 items-center">
      <nav class="flex gap-4 text-sm font-medium text-gray-600 dark:text-gray-400">
        <a class="hover:text-blue-600 cursor-pointer" (click)="setView('timeline')">Timeline</a>
        <a class="hover:text-blue-600 cursor-pointer" (click)="setView('album')">photos</a>
        <a class="hover:text-blue-600 cursor-pointer" (click)="setView('videos')">videos</a>
        <a class="hover:text-blue-600 cursor-pointer" (click)="setView('friends')">Friends</a>
      </nav>
      @if(user.id == profile.id){
      <button routerLink="timeline/edit" class="bg-blue-500 text-white px-4 py-1 rounded-2xl text-sm hover:bg-blue-600">Edit Profile</button>
      } @else{
        @if(isFriends()){
          <button (click)="removeFriend(profile.id)"  class="bg-blue-500 text-white px-4 py-1 rounded-2xl text-sm hover:bg-red-500 ">Remove Friend</button>
        } @else {
      <button (click)="addFriend(profile.id)" class="bg-blue-500 text-white px-4 py-1 rounded-2xl text-sm hover:bg-blue-600">Add Friend</button>
        }
      }
    </div>
  </div>

  <!-- Grid layout -->
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-6 mt-10 px-10">
    <!-- Left side: profile info -->
    <div class="col-span-12 lg:col-span-8 space-y-6">
      <div class="bg-white dark:bg-[#242526] rounded-lg p-6 shadow space-y-4">
        <h3 class="text-lg font-bold dark:text-white">Personal Information</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-sm text-gray-700 dark:text-gray-300">
          <div><span class="font-semibold dark:text-white">Phone</span>: {{ profile.phoneNum }}</div>
          <div><span class="font-semibold dark:text-white">Gender</span>: {{ profile.gender }}</div>
          <div><span class="font-semibold dark:text-white">Birth Date</span>: {{ profile.birthDate | date: 'dd/MM/yyyy' }} | {{getAge(profile.birthDate)}} YO</div>
        </div>
      </div>

      <div class="space-y-6">
        @switch (currentView()) {

          @case ('videos') {
            @if (posts().length == 0) {
              <div class="flex justify-center items-center py-20">
                <p class="text-lg font-semibold text-gray-700 dark:text-gray-300">
                  No videos yet
                </p>
              </div>
            } @else {
              <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-4">
                @for (post of posts(); track post.id) {
                  <app-timeline-video
                    [post]="post"
                    (postDeleted)="loadUserVideos(profile.id)"
                  />
                }
              </div>
            }
          }


          @case ('album') {
            @if(posts().length == 0){
              <div class="flex justify-center items-center">
                <p class="text-xl font-semibold text-gray-600 dark:text-gray-300">No Photos yet</p>
              </div>
            }@else{
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-4">
              @for (post of posts(); track post.id) {
                <app-timeline-album
                  [post]="post"
                  (postDeleted)="loadUserAlbums(profile.id)"
                />
              }
            </div>
          }
          }
          @case ('friends') {
            @if(friends().length == 0){
              <div class="flex justify-center items-center">
                <p class="text-xl font-semibold text-gray-600 dark:text-gray-300">No friends yet</p>
              </div>
            }
            @else{
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6 p-4">

              @for (friend of friends(); track friend.id) {
                <app-friends
                  [friend]="friend"
                  [profileId]="profile.id"
                  (friendRemoved)="removeFriend($event)"
                />
              }
            </div>
          }
          }

          @default {
            @if (posts().length == 0){
             <div class="flex justify-center items-center">
               <p class="text-xl font-semibold text-gray-600 dark:text-gray-300">No posts yet</p>
               </div>
            }@else{
            @for (post of posts(); track post.id) {
              <app-post
                class="flex justify-center max-w-2xl mx-auto"
                [post]="post"
                (onDelete)="loadUserPosts(profile.id)"
              ></app-post>
             }
           }
          }
        }
      </div>

    </div>

    <!-- Right side: activity -->
    <div class="col-span-12 lg:col-span-4">
      <div class="bg-white dark:bg-[#242526] rounded-lg shadow p-4 space-y-4">
        <h3 class="text-lg font-bold dark:text-white">User's Activity</h3>
        <ul class="text-sm text-gray-700 dark:text-gray-300 space-y-2">
          @for (action of latestActions; track latestActions){
          <li>
            {{ action }}
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
